body, html {
	margin: 0; padding: 0; height: 100%; width: 100%;
	background-color: #e0e0e0;
	overflow: hidden;
	position: absolute;
}
body {
	background-image: -webkit-gradient(radial, 32% center, 0, 32% center, 900, from(#fff), to(#aaa));
	background-image: -moz-radial-gradient(32% center, ellipse closest-side, #fff 0%, #aaa 900px);
}
p {
	margin: 0; padding: 0;
	font-family: "Myriad Pro", "Lucida Grande", Helvetica, Arial,
	  "Heiti TC", "Hiragino Kaku Gothic Pro", "Hiragino Sans GB", "Lihei Pro", 
	  "文泉驛微米黑", "Droid Sans Fallback",
	  "新細明體", sans-serif !important;
}
a {
	color: #333;
	text-decoration: none;
}
input {
	vertical-align: center;
	font-size: 14px;
}
input[type="submit"] {
	-webkit-appearance: button;
}
a:hover {
	text-decoration: underline;
}
#photos {
	position: absolute;
	width: 65%;
	min-width: 750px;
	top: -10%; bottom: -10%;
	left: -10%;
	-webkit-transform: rotate(-10deg);
	-moz-transform: rotate(-10deg);
	-ms-transform: rotate(-10deg);
	-o-transform: rotate(-10deg);
}

#photos img {
	position: absolute;
	border: none;
	-webkit-transition: -webkit-transform .3s, opacity .3s;
	-moz-transition: -moz-transform .3s, opacity .3s;
	-o-transition: -o-transform .3s, opacity .3s;
}

#photos img:hover {
	opacity: 1!important;
	-webkit-transform: scale(1.8) rotate(10deg);
	-moz-transform: scale(1.8) rotate(10deg);
	-ms-transform: scale(1.8) rotate(10deg);
	-o-transform: scale(1.8) rotate(10deg);
	z-index: 2;
}
#info.beforeLoad {
	opacity: 0;
}
#info {
	position: absolute;
	width: 60%; height: 40%;
	min-width: 640px;
	min-height: 310px;
	top: 30%;
	right: 3%;
	background: #f0f0f0; /* IE7 (must use bg: instead of bg-color: ) */
	background: rgba(255,255,255,0.65);
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	opacity: 1;
}

#info input {
	opacity: 0.7;
	-webkit-transition: opacity .3s ease-out;
	-moz-transition: opacity .3s ease-out;
	-o-transition: opacity .3s ease-out;
}

#info:hover {
	-webkit-transition: all .3s ease-in;
	-moz-transition: all .3s ease-in;
	-o-transition: all .3s ease-in;
	background: #f8f8f8; /* IE */
	background: rgba(255,255,255,0.9);
}

#info:hover input {
	-webkit-transition: opacity .3s ease-in;
	-moz-transition: opacity .3s ease-in;
	-o-transition: opacity .3s ease-in;
	opacity: 1;
}

h1 a {
	font-size: 50px;
	font-style: italic;
	font-family: 'Corben', arial, serif;
	color: #389f2d;
	margin: 0; padding: 0;
	position: absolute;
	top: 10px; left: 30px;
	height: 121px;
	text-shadow: 0 0 10px #fff, 0 0 5px #fff;
}
h1 a:hover {
	text-decoration: none;
}

#coscup-word {
	background: transparent url('coscup.svg') center center no-repeat;
	text-indent: -10000px;
	display: inline-block; /* inline-block fails on IE? */
	width: 305px; height: 121px;
	vertical-align: 20px;
}

#info p {
	position: absolute;
	color: #333;
	left: 35px; right: 35px;
}

#title {
	top: 120px;
	font-size: 14px;
	color: #666!important;
}

#date {
	top: 170px;
	font-size: 34px;
	font-weight: bold;
}

#subscribe {
	top: 240px;
	font-size: 18px;
}

#archives {
	position: absolute;
	bottom: 20px; right: 3%;
	margin: 0; padding: 0;
	font-size: 16px;
}

#addToGCal {
	text-indent: -10000px;
	display: inline-block;
	vertical-align: top;
	width: 24px; height: 24px;
	background: transparent url('gcal-icon-24px.png') top left no-repeat;
	-webkit-transform: rotate(10deg);
	-moz-transform: rotate(10deg);
	-ms-transform: rotate(10deg);
	-o-transform: rotate(10deg);
	-webkit-transition: -webkit-transform .3s ease-out;
	-moz-transition: -ms-transform .3s ease-out;
	-o-transition: -o-transform .3s ease-out;
}

#addToGCal:hover {
	-webkit-transition: -webkit-transform .3s ease-in;
	-moz-transition: -ms-transform .3s ease-in;
	-o-transition: -o-transform .3s ease-in;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-o-transform: rotate(0deg);
}

.separator {
	font-size: 120%;
}

@media screen and (min-width: 1280px) {
	#title {
		font-size: 18px;
		font-weight: bold;
	}
	input {
		font-size: 20px;
	}
	#subscribe {
		font-size: 20px;
		font-weight: bold;
	}
}
